@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-Poppins: "Poppins", sans-serif;
}
* {
  font-family: Poppins;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.nav-btn {
  background-color: RGB(254, 64, 65);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  color: white;
}
@theme {
  --color-logo-text-color: RGB(0, 164, 237);
  --color-logo-text-second-color: RGB(254, 64, 65);
}
@theme {
  --color-navbar-color: RGB(250, 250, 250);
}
@theme {
  --color-nav-btn: RGB(254, 64, 65);
}
.nav-hover:hover {
  color: RGB(254, 64, 65);
  transition: 0.5s;
  cursor: pointer;
}
.navbar-animation {
  animation-name: navbar;
  animation-duration: 1s;
}
.left-animation {
  animation-name: leftbox;
  animation-duration: 1s;
}
.right-animation {
  animation-name: rightbox;
  animation-duration: 1s;
}
@keyframes leftbox {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX();
  }
}
@keyframes rightbox {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX();
  }
}
@keyframes navbar {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translatey();
  }
}
.progressbar {
  background-color: RGB(247, 239, 241);
}

.progress-bar {
  width: 0%;
  height: 6px;
  background-color: RGB(255, 58, 75);
  animation: progressbar 1s ease forwards;
}
@keyframes progressbar {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
.progress-bar2 {
  width: 0%;
  height: 6px;
  background-color: RGB(255, 58, 75);
  animation: progressbar2 1s ease forwards;
}
@keyframes progressbar2 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
.progress-bar3 {
  width: 0%;
  height: 6px;
  background-color: RGB(255, 58, 75);
  animation: progressbar3 1s ease forwards;
}
@keyframes progressbar3 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
